 *{
   margin: 0px;
   padding: 0px;
 }
  .full-web{
     text-align: center;
     margin: 0 auto;
     width: 1024px;
  }
.header{
  background-color: rgba(211, 48, 75, 0.959);
 
  text-align: center;
  
}
 .member{
   background-color: rgb(188, 243, 243);
   color: rgb(38, 32, 51);
   
   
 }
  
  .description{
    background-color: rgb(149, 60, 167);
    color: rgb(190, 208, 224);
    text-align: justify;
  
  }
 img{
    width: 1024px;
    height: 680px;
    margin-bottom: -5px;
 }
 .footer{
   background-color: darkslategrey; 
 }
 .footer a{
   text-decoration: none;
 }